# Ignore everything
*
# Except folders
!*/
# And rpy, rpym, and py files, in game/
!game/**/*.rpy
!game/**/*.rpym
!game/**/*.py
# And assets in game/xx (.png, .jpg, .ogg, .mp3, .ttf, .otf)
# (for now, ignore gui images)
!game/images/**/*.png
!game/images/**/*.jpg
!game/audio/**/*.ogg
!game/audio/**/*.mp3
!game/gui/**/*.ttf
!game/gui/**/*.otf
# And CREDITS.txt
!CREDITS.txt
!README.md
# And some things in materials/
# ...
# And, of course, this file
!/.gitignore
